<a href="https://colab.research.google.com/github/marystellars1/SQLaprendiendo1/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

      Nombre   Profesión            País
0    Melissa   Ingeniera  Estados Unidos
1      Nadia      Doctor          Canadá
2      Mauri    Profesor     Reino Unido
3      Laura     Artista         Francia
4     Marcia  Científica        Alemania
5     Luchis      Músico           Japón
6       Vale   Escritora       Australia
7  Andresito     Abogado          Brasil

In [81]:
import pandas as pd
  ejemplo = pd.read_csv('/PQRD_2022_ok (1).csv')

IndentationError: unexpected indent (<ipython-input-81-4c9f0d3ecec5>, line 2)